USE [QLDSV_TC]
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemChiTietDongHP]    Script Date: 12/10/2021 7:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
USE [QLDSV_TC]
go
CREATE   PROCEDURE [dbo].[sp_ThemChiTietDongHP]
	-- khai bao cac bien tam 
	@MASV nchar(10), @NIENKHOA nchar(9), @HOCKY int, @NGAYDONG date, @SOTIENDONG int 
AS
BEGIN

	DECLARE @TONGTIENDADONG int
	DECLARE @HOCPHI int

	SET XACT_ABORT ON

	BEGIN TRY
		BEGIN TRANSACTION

		INSERT INTO CT_DONGHOCPHI(MASV, NIENKHOA , HOCKY, NGAYDONG, SOTIENDONG)
		VALUES (@MASV, @NIENKHOA, @HOCKY, @NGAYDONG, @SOTIENDONG)
		

		SELECT @HOCPHI = HP.HOCPHI, @TONGTIENDADONG = ISNULL(CT.SOTIENDADONG, 0)
		FROM (SELECT NIENKHOA, HOCKY, HOCPHI, MASV FROM HOCPHI WHERE MASV = @MASV) as HP
		LEFT JOIN (
					SELECT MASV, NIENKHOA, HOCKY, SUM(SOTIENDONG) AS SOTIENDADONG 
					FROM CT_DONGHOCPHI GROUP BY NIENKHOA, HOCKY, MASV
				) AS CT
		ON HP.MASV = CT.MASV AND CT.NIENKHOA = HP.NIENKHOA AND CT.HOCKY = HP.HOCKY

		
		SELECT @TONGTIENDADONG = SUM(SOTIENDONG)
		FROM CT_DONGHOCPHI CT
		WHERE CT.MASV = @MASV AND CT.NIENKHOA = @NIENKHOA AND CT.HOCKY = @HOCKY 
	END TRY

	BEGIN CATCH
		IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
			RAISERROR ('Lỗi hệ thống!', 16,2)
			RETURN -1;
		END
	END CATCH

	IF(@TONGTIENDADONG > @HOCPHI)
	BEGIN
		ROLLBACK TRANSACTION
			
		RAISERROR ('Số tiền thêm vượt quá tiền học phí. Ko thể thêm!', 16,1)
		RETURN 1;
	END

	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
		RETURN 0	--Thành công
	END
	  
END
